fastapi>=0.110.0
uvicorn[standard]
python-multipart
python-dotenv
pydantic>=2.0.0,<3.0.0
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
httpx
pdfplumber
PyPDF2
gtts
groq
google-auth
openai
langchain-openai
langchain-core
langchain-community
langgraph
razorpay
email-validator
bcrypt==4.0.1